#scroll-wrap{
  flex-direction: row!important;
}
#illuMe {
  height: 100vh;

}

#imgMe {
  position: fixed;
  height: 80vh;
  bottom: -10vh;
  left: calc(100vw - 1500px + 60px);
  transition: bottom ease 1s, left ease 1s;
}

#imgMeBack {
  position: fixed;
  height: 140vh;
  bottom: -20vh;
  left: calc(100vw - 1500px - 60px);
  transition: bottom ease 1s, left ease 1s;
  filter: blur(2px);
}

#descMe {
  position: fixed;
  right: 15vw;
  width: 450px;
  height: 50vh;
  margin: 30vh 0 20vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#descMe pre{
  text-align: center;
  width: 450px;
  white-space: pre-wrap;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
}

#download {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  padding:5px 15px;
  font-size: 25px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  color: white;
  background: #f74f1c;
  margin-top: 3vh;
}

#titleDescMe {
  font-size: 30px;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

#svg1 {
  transition: bottom ease 1s, left ease 1s;
  left: calc(100vw - 1500px + 50px);
  height: 50vh;
  bottom: 5vh;
  position: fixed;
}

#svg2 {
  transition: bottom ease 1s, left ease 1s;
  left: calc(100vw - 1500px + 450px);
  bottom: 35vh;
  height: 50vh;
  position: fixed;

}
@media screen and (min-width: 1650px) {
  #svg1{
    left: 50px;
  }
  #svg2{
    left: 450px;
  }
  #imgMeBack{
    left: -60px;
  }
  #imgMe{
    left: 60px;
  }
}