
/*--------------------------------------style of aboutMe.html--------------------------------------*/

#scroll-wrap{
  height: 100vh;
  justify-content: flex-end;
}
#titleDescMe {
  margin-bottom: 10vh;
  width: 100vw;
  text-align: center;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

#descMe-wrapper{
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18vh;
}

/*----------in descMe wrapper----------*/

#descMe {
  width: 40%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#iconDesc{
   position: relative;
   height: 40px;
 }
#descMe pre{
  position: relative;
  text-align: center;
  width: 450px;
  white-space: pre-wrap;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}
#lineDescMe{
  width: 7vw;
  height: 5px;
  background: #FD8568;
}

#download {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding:6px 20px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: white;
  background: #FD8568;
}

